<div class="login-container">
  <h2>Accedi al Gioco</h2>

  <form [formGroup]="formLogin" (ngSubmit)="accedi()">
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [class.invalid]="inviato() && formLogin.controls.email.invalid"
      />
      @if (inviato() && formLogin.controls.email.errors) {
        @if (formLogin.controls.email.errors['required']) {
          <p class="error">L'email è obbligatoria.</p>
        }
        @if (formLogin.controls.email.errors['email']) {
          <p class="error">Inserisci un'email valida.</p>
        }
      }
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.invalid]="inviato() && formLogin.controls.password.invalid"
      />

      @if (inviato() && formLogin.controls.password.errors) {
        @if (formLogin.controls.password.errors['required']) {
          <p class="error">La password è obbligatoria.</p>
        }
        @if (formLogin.controls.password.errors['minlength']) {
          <p class="error">La password deve avere almeno 4 caratteri.</p>
        }
      }
    </div>

    @if (messaggioErrore()) {
      <p class="error backend-error"><strong>Attenzione:</strong> {{ messaggioErrore() }}</p>
    }

    <button type="submit">Entra</button>
  </form>

  <p class="toggle-link">Non hai un account? <a routerLink="/register">Registrati qui</a></p>
</div>
